.infoUser{
  white-space: nowrap;
  width: 100%;
}

.infoUser > div{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.admin-ui-example-1gkbr0w{
  color: black !important;
}

.admin-ui-example-18phhmj {
  color: black !important;
  background-color: lightgray;
}
